# TCP port for SeedLink connections.
port = 18000

# TCP port for encrypted (SSL) SeedLink connections.
# Disabled (0) by default.
sslport = 0

# Location of SSL certificate file.
certificate = ""

# Location of SSL private key file.
privateKey = ""

# Location of storage.
filebase = @ROOTDIR@/var/lib/seedlink4

# Number of segments per station.
segments = 10

# Segment size in records.
segsize = 1000

# Maximum record size in bytes, including metadata header.
recsize = 1024

# Time index granularity in seconds.
granularity = 600

# List of IP adresses and/or usernames of clients who have FEED and
# INFO CONNECTIONS permission and full access to all stations
# regardless of the "access" setting.
trusted = 127.0.0.0/8

# List of IP adresses and/or usernames that can access stations
# by default. This can be overridden on a station-by-station basis
# using seedlink bindings. Empty means no access restrictions.
access = ""

# Network code of uni-station mode (obsolete).
defaultNetwork = XX

# Station code of uni-station mode (obsolete).
defaultStation = XXX
